h1 {
    font-family: $font1;
    font-size: 24pt;
}

h2 {
    font-family: $font2;
    font-size: 10pt;
    text-transform: uppercase;
}
h3 {
    font-family: $font4;
    color: white;
    font-size: 20pt;
}
h4 {
    font-family: $font4;
    color: white;
    font-size: 12pt;
}
a {
    text-decoration: none;
    color: white;

}

main {
    z-index: 1;
}


.menu-oculto {
    display: none;

}
.separador {
    height: 1vh;
    width: 100vw;
    @include animacion1(40s, linear);
    z-index: 2;
}

.seccion-main {
    position: relative;
    label {
        height: 0%;
        display:inline;
        
        .sobremi {
            text-align: center;
            width: 20vw;
            height: 15vh; 
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: auto;
            color: white;

            margin-top: -20vh;
            right: 38.5vw;
            border-radius: 10px;

            padding: 1%;
            background-color: #000000e4;
            transition: all 0.5s;
            z-index: 51;
    
            &:hover {
                background-color: #373737a3;
    
            }
    
    
        }
    
    }

    .cover {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;

        z-index: 2;
        .coverm {
            display: none;
        }



        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

   
    #sobremi {
        display: none;

        &:checked~.car1 {
            display: flex;
            background-color: #91b09f;
            border-top: solid 1vh #6a8174;
            border-left: solid 1vh #6a8174;
            border-right: solid 1vh #6a8174;
            border-bottom: solid 1vh #6a8174;
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-right: 15vw;
            padding-left: 15vw;
           


        }
        &:checked~.car1m {
            display: flex;
            background-color: #91b09f;
            border-top: solid 1vh #6a8174;
            border-left: solid 1vh #6a8174;
            border-right: solid 1vh #6a8174;
            border-bottom: solid 1vh #6a8174;
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-right: 15vw;
            padding-left: 15vw;
           


        }
    }

    .car1 {
        display: none;

        .carousel-item {
            border-top: solid 1vh white;
            border-left: solid 1vh white;
            border-right: solid 1vh white;
            border-bottom: solid 1vh white;
          
        }
        .carousel-caption{
            background-color: #000000f1;
           
            border-radius: 10px;
            
        
        }
    }
    .car1m {
        display: none;
    }
}
.seccion-bodas {
    @extend .seccion-main;
    display:flex;
    flex-direction: column;

    label {

        
        .boton1 {
            @extend .sobremi;

    
            &:hover {
                background-color: #373737a3;
    
            }
    
    
        }
    
    }

    .cover {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;

        z-index: 2;



        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

   
    #bodas{
        display: none;

        &:checked~.car1 {
            display: flex;
            flex-direction: column;
            background-color: #171a18;
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-right: 15vw;
            padding-left: 15vw;
            


        }
    }

    .car1 {
        display: none;
        .carousel-item {
            border-top: solid 1vh white;
            border-left: solid 1vh white;
            border-right: solid 1vh white;
            border-bottom: solid 1vh white;
        }
        .carousel-caption{
            background-color: #000000f1;
           
            border-radius: 10px;
            
        
        }
    }

}
.seccion-quince {
    @extend .seccion-main;
    display:flex;
    flex-direction: column;

    label {

        
        .boton1 {
            @extend .sobremi;

    
            &:hover {
                background-color: #373737a3;
    
            }
    
    
        }
    
    }

    .cover {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;

        z-index: 2;



        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

   
    #quince{
        display: none;

        &:checked~.car2 {
            display: flex;
            flex-direction: column;
            background-color: #0b2b21;
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-right: 15vw;
            padding-left: 15vw;
            


        }
    }

    .car2 {
        @extend .car1;
    }

}
.seccion-newborn {
    @extend .seccion-main;
    display:flex;
    flex-direction: column;

    label {

        
        .boton1 {
            @extend .sobremi;

    
            &:hover {
                background-color: #373737a3;
    
            }
    
    
        }
    
    }

    .cover {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;

        z-index: 2;



        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

   
    #newborn{
        display: none;

        &:checked~.car1 {
            display: flex;
            flex-direction: column;
            background-color: #303d3fce;
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-right: 15vw;
            padding-left: 15vw;
            


        }
    }

    .car2 {
        @extend .car1;
    }

}
.seccion-maternidad {
    @extend .seccion-main;
    display:flex;
    flex-direction: column;

    label {

        
        .boton1 {
            @extend .sobremi;

    
            &:hover {
                background-color: #373737a3;
    
            }
    
    
        }
    
    }

    .cover {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;

        z-index: 2;



        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

   
    #maternidad{
        display: none;

        &:checked~.car2 {
            display: flex;
            flex-direction: column;
            background-color: #211b2ace;
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-right: 15vw;
            padding-left: 15vw;
            


        }
    }

    .car2 {
        @extend .car1;
    }

}
.seccion-gastro {
    @extend .seccion-main;
    display:flex;
    flex-direction: column;

    label {

        
        .boton1 {
            @extend .sobremi;

    
            &:hover {
                background-color: #373737a3;
    
            }
    
    
        }
    
    }

    .cover {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: auto;

        z-index: 2;



        img {
            position: relative;
            width: 100%;
            height: auto;
        }
    }

   
    #gastro{
        display: none;

        &:checked~.car1 {
            display: flex;
            flex-direction: column;
            background-color: #3d1319e4;
           
            padding-top: 15vh;
            padding-bottom: 15vh;
            padding-right: 15vw;
            padding-left: 15vw;
            


        }
    }

    .car1 {
        @extend .car1;
    }

}


