//** FUENTES **//
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@300;400&family=Poppins:wght@300;400;600;800&display=swap');

$font1: 'Great Vibes';
$font2: 'Nunito';
$font3: 'Poppins';
$font4: 'Abel';
//** COLORES **//
$paleta: (
    dorado: #c98703,
    verde:  #43652a,
    bordeaux: #671313,
    violeta: #462037,
    mostaza: #eb951f

);
$dorado: #c98703;
$verde:  #43652a;
$bordeaux: #671313;
$violeta: #462037;
$mostaza: #eb951f